<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/static/css/purchase.css" rel="stylesheet">
    <title></title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Hibernia-Sino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{:url('index/index/index')}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('index/index/about')}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('index/index/contact')}">CONTACT</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- multiple languages-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LANGUAGE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{:url('index/insurance/changeLanguage',['lang'=> 1])}">English</a>
                        <a class="dropdown-item" href="{:url('index/insurance/changeLanguage',['lang'=> 2])}">简体中文</a>
                    </div>
                </li>
                <!-- multiple languages End-->

                <!-- SignIn and logOut -->
                {eq name="isLogin" value="true"}
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{:url('index/signIn/logOut')}">
                        LOGOUT</a>
                </li>
                {else/}
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{:url('index/signIn/index')}">
                        SIGN IN/SIGN UP</a>
                </li>
                {/eq}
                <!-- SignIn and logOut End -->
            </ul>
        </div>
    </nav>
</header>

<br>
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded  "
         style='background-image: url(/static/img/1.jpg);background-size: cover'>
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Time for your Insurance</h1>
            <p class="lead my-3">We are always ready to serve you.No matter where you are now, we can always keep risk
                away from your wealth.
            </p>
            <p class="lead mb-0"><a href="#1" class="text-white font-weight-bold">Continue...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Primary</strong>
                    <h3 class="mb-0" id="1">Primary insurance</h3>
                    <!--<div class="mb-1 text-muted">Nov 12</div>-->
                    <p class="card-text mb-auto">
                        Mainly applies to the loss of small pieces of luggage and carry-on
                        items (weight 5Kg, volume not more than 20 40 55cm)<br>
<!--                        The free air accident insurance of-->
<!--                        100 thousand yuan is sent, get namely take effect immediately, enjoy exceed value safeguard-->
<!--                        between the snap of a finger!-->
                    </p>
                    <a href="{:url('index/insurance/payFor',['insuranceId'=>1])}"
                       class="stretched-link">Purchase</a>
                </div>
                <div class="col-auto d-none d-lg-block"
                     style='background-image: url(/static/img/2.jpg);background-size: cover'>
                    <svg class="bd-placeholder-img" src="" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                         aria-label="Placeholder: Thumbnail"></svg>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Primary</strong>
                    <h3 class="mb-0" id="1">Primary insurance</h3>
                    <!--<div class="mb-1 text-muted">Nov 12</div>-->
                    <p class="card-text mb-auto">
                        <!--                        mainly applies to the loss of small pieces of luggage and carry-on-->
                        <!--                        items (weight 5Kg, volume not more than 20 40 55cm)<br> -->
                        The free air accident insurance of
                        100 thousand yuan is sent, get namely take effect immediately, enjoy exceed value safeguard
                        between the snap of a finger!</p>
                    <a href="{:url('index/insurance/payFor',['insuranceId'=>1])}"
                       class="stretched-link">Purchase</a>
                </div>
                <div class="col-auto d-none d-lg-block"
                     style='background-image: url(/static/img/3.jpg);background-size: cover'>
                    <svg class="bd-placeholder-img" src="" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                         aria-label="Placeholder: Thumbnail"></svg>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Intermediate</strong>
                    <h3 class="mb-0">Intermediate insurance</h3>
                    <!--<div class="mb-1 text-muted">Nov 11</div>-->
                    <p class="mb-auto">
                        It is mainly used for the loss of self-care luggage
                        (weight 10Kg, volume no more than 20 40 55cm)<br>
<!--                        For the people who travel by plane within 48 hours, 9.88 yuan will enjoy the aviation accident protection of 5 million yuan. Fly with-->
<!--                        buy, economic and practical, effective immediately-->
                    </p>
                    <a href="{:url('index/insurance/payFor',['insuranceId'=>2])}"
                       class="stretched-link">Purchase</a>
                </div>
                <div class="col-auto d-none d-lg-block"
                     style='background-image: url(/static/img/4.jpg);background-size: cover'>
                    <svg class="bd-placeholder-img" src="" width="200" height="250"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: Thumbnail"></svg>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Intermediate</strong>
                    <h3 class="mb-0">Intermediate insurance</h3>
                    <!--<div class="mb-1 text-muted">Nov 11</div>-->
                    <p class="mb-auto">
<!--                        It is mainly used for the loss of self-care luggage-->
<!--                        (weight 10Kg, volume no more than 20 40 55cm)<br> -->
                        For the people who travel by plane within
                        48 hours, 9.88 yuan will enjoy the aviation accident protection of 5 million yuan.effective immediately.
                    </p>
                    <a href="{:url('index/insurance/payFor',['insuranceId'=>2])}"
                       class="stretched-link">Purchase</a>
                </div>
                <div class="col-auto d-none d-lg-block"
                     style='background-image: url(/static/img/5.jpg);background-size: cover'>
                    <svg class="bd-placeholder-img" src="" width="200" height="250"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: Thumbnail"></svg>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-warning">Premium</strong>
                    <h3 class="mb-0">Premium insurance</h3>
                    <!--<div class="mb-1 text-muted">Nov 11</div>-->
                    <p class="mb-auto">it is mainly applicable to the loss of large luggage and checked items
                        (weight 50Kg, volume cannot exceed 40 60100cm)
<!--                        <br> As long as 98 yuan, you can enjoy one-->
<!--                        year, the amount of insurance up to 5 million unlimited air accident protection, each trip-->
<!--                        without any prior registration procedures"-->
                    </p>
                    <a href="{:url('index/insurance/payFor',['insuranceId'=>3])}"
                       class="stretched-link">Purchase</a>
                </div>
                <div class="col-auto d-none d-lg-block"
                     style='background-image: url(/static/img/6.jpg);background-size: cover'>
                    <svg class="bd-placeholder-img" src="" width="200" height="250"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: Thumbnail"></svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-warning">Premium</strong>
                    <h3 class="mb-0">Premium insurance</h3>
                    <!--<div class="mb-1 text-muted">Nov 11</div>-->
                    <p class="mb-auto">
<!--                        it is mainly applicable to the loss of large luggage and checked items-->
<!--                        (weight 50Kg, volume cannot exceed 40 60100cm)<br>-->
                        As long as 98 yuan, you can enjoy one
                        year, the amount of insurance up to 5 million unlimited air accident protection, each trip
                        without any prior registration procedures"</p>
                    <a href="{:url('index/insurance/payFor',['insuranceId'=>3])}"
                       class="stretched-link">Purchase</a>
                </div>
                <div class="col-auto d-none d-lg-block"
                     style='background-image: url(/static/img/7.jpg);background-size: cover'>
                    <svg class="bd-placeholder-img" src="" width="200" height="250"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: Thumbnail"></svg>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/static/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>