<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/static/css/style.css" rel="stylesheet">

    <link rel="icon" href="/static/favicon.ico">
    <title>Sign Up Login</title>
</head>

<body>
<header class="header-my">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Hibernia-Sino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{:url('index/index/index')}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('index/index/about')}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{:url('index/index/contact')}">CONTACT</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- multiple languages-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LANGUAGE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{:url('index/signIn/changeLanguage',['lang'=> 1])}">English</a>
                        <a class="dropdown-item" href="{:url('index/signIn/changeLanguage',['lang'=> 2])}">简体中文</a>
                    </div>
                </li>
                <!-- multiple languages End-->

                <!-- SignIn and logOut -->
                {eq name="isLogin" value="true"}
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{:url('index/signIn/logOut')}">
                        LOGOUT</a>
                </li>
                {else/}
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{:url('index/signIn/index')}">
                        SIGN IN/SIGN UP</a>
                </li>
                {/eq}
                <!-- SignIn and logOut End -->
            </ul>
        </div>
    </nav>
</header>

<div calss="container">
    <div class="cotn_principal ">
        <div class="cont_centrar">
            <div class="cont_login">
                <div class="cont_info_log_sign_up row ">
                    <div class="col_md_login ">
                        <div class="cont_ba_opcitiy">
                            <h2>LOGIN</h2>
                            <p>Existing Account Customers</p>
                            <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
                        </div>
                    </div>
                    <div class="col_md_sign_up col">
                        <div class="cont_ba_opcitiy">
                            <h2>SIGN UP</h2>
                            <p>New User Registration</p>
                            <button class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
                        </div>
                    </div>
                </div>
                <div class="cont_back_info">
                    <div class="cont_img_back_grey"><img src="/static/assets/img/login.png" alt=""/></div>
                </div>
                <div class="cont_forms">
                    <div class="cont_img_back_"><img src="/static/assets/img/login.png" alt=""/></div>

                    <form class="cont_form_login needs-validation" novalidate method="post" action="{:url('index/signIn/signIn')}">
                        <a href="#" onClick="ocultar_login_sign_up()"><i class="material-icons">&#935;</i></a>
                        <h2>LOGIN</h2>
                        <input  style="position: relative;  left: 25px;"  class="form-control" required type="email" name="username" placeholder="Email"/>
                        <div class="invalid-feedback">
                            Please enter the email.
                        </div>
                        <input style="position: relative;  left: 25px;"  class="form-control" required type="password" name="password" placeholder="Password"/>
                        <div class="invalid-feedback">
                            Please enter the password
                        </div>
                        <button class="btn_login" type="submit">LOGIN</button>
                    </form>


                    <form class="cont_form_sign_up needs-validation" novalidate action="{:url('index/signUp/signUp')}"
                          method="post">
                        <a href="#"
                           onClick="ocultar_login_sign_up()"><i class="material-icons">&#935</i></a>
                        <h2>SIGN UP</h2>
                        <input class="form-control " style="position: relative;  left: 25px;" type="email"
                               name="username" placeholder="Email" required/>
                        <div class="invalid-feedback">
                            Please enter the email.
                        </div>

                        <input class="form-control" id="p1" style="position: relative;  left: 25px;" type="password"
                               name="password" placeholder="Password" oninput="check(this)" required/>
                        <div class="invalid-feedback">
                            <p id="v1">Enter the password</p>
                        </div>
                        <input class="form-control" id="p2" style="position: relative;  left: 25px;"
                               type="password"
                               name="confirmPassword" placeholder="Confirm Password" oninput="checkP(this)" required/>
                        <div class="invalid-feedback">
                            <p id="v2">Enter the password again</p>
                        </div>
                        <button class=" btn_sign_up" type="submit">SIGN UP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function check(input) {
        if (input.value.length < 3) {
            document.getElementById("v1").innerHTML = "too short should more than 6"
            input.setCustomValidity("too short should more than 6");
        } else if (!input.value.match("[0-9]+")) {
            document.getElementById("v1").innerHTML = "Need numbers"
            input.setCustomValidity("Need numbers");
        } else if (!input.value.match("[A-Z]+")) {
            document.getElementById("v1").innerHTML = "Capital letters Required"
            input.setCustomValidity("Capital letters Required ");
        } else if (!input.value.match("[a-z]+")) {
            document.getElementById("v1").innerHTML = "Lowercase letters Required"
            input.setCustomValidity("Lowercase letters Required");
        } else if (!input.value.match("[,.<>{}~!@#$%^&*]")) {
            document.getElementById("v1").innerHTML = "Special letters Required"
            input.setCustomValidity("Special letters Required");
        } else {
            // input is fine -- reset the error message
            document.getElementById("v1").innerHTML = ""
            input.setCustomValidity("");
        }
    }


    function checkP(input) {

        if (input.value != document.getElementById("p1").value) {
            document.getElementById("v2").innerHTML = "Password not the same"
            input.setCustomValidity("Password not the same");
        } else {
            document.getElementById("v2").innerHTML = ""
            input.setCustomValidity("");
        }
    }
</script>


<!-- Optional JavaScript -->
<script src="/static/js/login.js"></script>
<!-- jQuery -->
<script src="/static/js/common/jquery-3.4.1.min.js"></script>
<!--Popper.js-->
<script src="/static/js/common/popper.min.js"></script>
<!-- Bootstrap core JS -->
<script src="/static/js/common/bootstrap.min.js"></script>
</body>
</html>
