<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <title>Sign In for Employee</title>
</head>

<body>
<div class="container">
    <form class="form-signin" action="{:url('employee/signIn/signIn')}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
               name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div> <!-- /container -->

<!-- Optional JavaScript -->

<!-- jQuery -->
<script src="/static/js/common/jquery-3.4.1.min.js"></script>
<!--Popper.js-->
<script src="/static/js/common/popper.min.js"></script>
<!-- Bootstrap core JS -->
<script src="/static/js/common/bootstrap.min.js"></script>
</body>
</html>

